/* Logo styling */
.logo {
    position: absolute;  /* Allows the logo to overlay the bar */
    max-width: 150px;  /* Control the width of the logo */
    height: 100px;  /* Independent height, unaffected by the navbar */
    top: 0px;
}

/* Navigation bar styling */
.w3-bar {
    display: flex;
    height: 80px;
    justify-content: space-between; /* Distribute left and right tabs */
    align-items: center; /* Vertically center tabs */
}

/* Left and Right tabs container */
.nav-right {
    display: flex;
    margin-right: 100px;
    font-size: large;
    gap: 50px;
    padding-left: 100px;
}

/* Left and Right tabs container */
.nav-left {
    display: flex;
    margin-left: 100px;
    font-size: large;
    gap: 50px;
}

/* Make sure logo is centered in between */
.nav-center {
    display: flex;
    justify-content: space-between;
}